h3,
h4,
h5 {
  font-family: "Playpen Sans", cursive;
}

h3.date-form {
  text-align: center;
}

header {
  background-image: url("hero.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #355c7d;
  padding: 250px 0;
  text-align: center;
}

ul {
  color: #355c7d;
  padding: 0;
  text-align: center;
}

li {
  color: #355c7d;
  display: inline;
  padding: 0 5px;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.main form {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.main {
  margin: 20px auto;
}

.container {
  padding-top: 20px;
}

.profile-pic {
  background-color: skyblue;
  border-radius: 50%;
  color: white;
  padding: 10px;
}

@media (max-width: 760px) {
  header {
    padding: 100px;
  }
}
